.main-header{
    background: linear-gradient(
    rgba(0, 0, 0, 0.600),
    rgba(0, 0, 0, 0.625)
  ),url('https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80');
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}